{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-named": "never",
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-url-quotes": "always",
    "number-leading-zero": "never",
    "value-no-vendor-prefix": true,
    "value-list-comma-newline-before": "never-multi-line",
    "custom-property-empty-line-before": "never",
    "selector-attribute-quotes": "always",
    "selector-max-specificity": "0,5,2",
    "max-nesting-depth": 3,
    "no-unknown-animations": true
  }
}
